$header-height: 30px;
$tab-item-height: 30px;

// header
#gb > div.gb_Ed.gb_de.gb_Nd.gb_fe {
  padding: 0 !important;

  // header section
  & > div.gb_Cc {
    height: auto !important;

    // left section
    &.gb_Zd.gb_Ae {
      // buttons
      & > .gb_hc {
        padding: 3px !important;
      }

      // actual logo image
      & > div.gb_ac > div > a > img {
        height: $header-height !important;
        width: auto !important;
      }
    }

    // middle section
    &.gb_Vd.gb_6d {
      // form wrapper
      .gb_Sd {
        height: $header-height !important;

        // image buttons
        .gb_Se button {
          svg,
          img {
            padding: 2px !important;
            margin: 0 !important;
          }
        }

        // search form
        form.gb_Se#aso_search_form_anchor {
          // search form wrapper
          & > div.gb_tf.gb_nf {
            height: $header-height !important;
            // search input
            & > input {
              padding-top: 5px !important;
              padding-bottom: 5px !important;
              height: $header-height !important;
            }
          }
        }
      }
    }

    // right side buttons
    .gb_9c {
      padding: 0 !important;
    }
  }
}

// tab wrapper
.aKh {
  height: $tab-item-height !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 3 !important; // fix for emails showing up above tabs

  // tab items
  .J-KU-Jg-K9 .J-KU .aAy {
    height: $tab-item-height !important;
  }

  // unknown hidden tab item
  .aKi {
    height: $tab-item-height !important;
  }
}

// email actions
.G-atb {
  height: 30px !important;
  background: rgb(37, 37, 37) !important;
  padding: 0 1em !important;
}

// emails
.zA {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
